  <div id="podcast_show">
               <div id="show_banner">
                   <div class="wrapper_skinny">
                        <h1><%= @podcast.title %></h1>
                           <p class="description"><%= @podcast.description %></p>
                           <% unless @podcast.itunes.blank? %>
                               <a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>
                           <% end %>
                           <% unless @podcast.stitcher.blank? %>
                               <a href="<%= @podcast.stitcher %>" class="subscribe_link">Stitcher</a>
                            <% end %>
                            <% unless @podcast.podbay.blank? %>
                                <a href="<%= @podcast.podbay %>" class="subscribe_link">PodBay</a>
                            <% end %>
                   </div><!--END .wrapper_skinny-->
                  
               </div><!--END #show_banner-->
               
               <div id="breadcrumb">
               <%= link_to podcasts_path do %>
               		 All Podcasts
                       <span>/</span>
                       <%= link_to @podcast.title, podcasts_path(@podcast) %>
                       <span>/</span> 
                       <%= @episode.title %>
               <% end %>
               </div><!--END #breadcrumb-->
                <div id="episode_content">
                   <div class="wrapper_skinny">
                    <%= image_tag @episode.episode_thumbnail.url(:medium), class: "current_episode_thumbnail" %>
                        <img src="images/damir.jpg" alt="Damir" class="current_episode_thumbnail">
                         <h2><%= @episode.title %></h2>
                           <p class="desc"><%= @episode.description %></p>
                   </div><!--END .wrapper_skinny-->
               </div><!--END #episode_content-->
               <div id="episodes">
                   <div class="wrapper_skinny">
                       <ul class="cf">
                         <% @episodes.each do |episode| %>
                           <li class="cf">
                               <div class="episode_thumbnail">
                                   <a href="#">
                                       <img src="images/danuska.jpg" alt="Danuska">
                                   </a>
                               </div><!--END .episode_thumbnail-->
                               <div class="episode_overview">
                                     <h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
                                   <p class="desc"><%= truncate(episode.description, length: 150) %></p>
                               </div><!--END .episode_overview-->
                           </li>
                           <% end %>
                          
                       </ul>
                   </div><!--END .wrapper_skinny-->
               </div><!--END #episodes-->
                <div class="pagination">
                    <span class="previous_page disabled">Prethodna</span>
                    <em class="current">1</em>
                    <a href="#">2</a>
                    <a class="next_page" href="#">Sledeća</a>
            </div><!--END .pagination-->
           </div><!--END #podcast_show-->