  <div id="podcast_show">
               <div id="show_banner">
                   <div class="wrapper_skinny">
                        <h1><%= @podcast.title %></h1>
                           <p class="description"><%= @podcast.description %></p>
                           <% unless @podcast.itunes.blank? %>
                               <a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>
                           <% end %>
                           <% unless @podcast.stitcher.blank? %>
                               <a href="<%= @podcast.stitcher %>" class="subscribe_link">Stitcher</a>
                            <% end %>
                            <% unless @podcast.podbay.blank? %>
                                <a href="<%= @podcast.podbay %>" class="subscribe_link">PodBay</a>
                            <% end %>
                   </div><!--END .wrapper_skinny-->
                  
               </div><!--END #show_banner-->
               
               <div id="breadcrumb">
               <%= link_to podcasts_path do %>
               		 All Podcasts
                       <span>/</span>
                       The Rocketship Podcast
               <% end %>
                 
               </div><!--END #breadcrumb-->
               <div id="episodes">
                   <div class="wrapper_skinny">
                       <ul class="cf">
                      
                       <% @episodes.each do |ep| %>

                           <li class="cf">
                               <div class="episode_thumbnail">
                                   <a href="#">
                                       <%= image_tag ep.episode_thumbnail.url(:medium) %>
                                   </a>
                               </div><!--END .episode_thumbnail-->
                               <div class="episode_overview">
                                   <h2><%= link_to ep.title, podcast_episode_path(@podcast, ep) %></h2>
                                   <p class="desc"><%= truncate(ep.description, length: 150) %></p>
                               </div><!--END .episode_overview-->
                           </li>
                         <% end %>
                           
                       </ul>
                   </div><!--END .wrapper_skinny-->
               </div><!--END #episodes-->
                <div class="pagination">
                    <span class="previous_page disabled">Prethodna</span>
                    <em class="current">1</em>
                    <a href="#">2</a>
                    <a class="next_page" href="#">Sledeća</a>
            </div><!--END .pagination-->
           </div><!--END #podcast_show-->